
body {
    background-image: url('achtergrondlogin.png');
    background-size: cover;
    background-attachment: fixed;


}


.logo {
    display: flex;
    width: 200px;
    margin: auto;

}

.login {
    color: #FFFFFF;
    display: flex;
    font-size: 30px;
    justify-content: center;
    margin: -10px auto;

}



.loginbox {
    display: flex;
    justify-content: center;

    border: 3px solid #A54136;
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(0, 0, 0, 0.9);
    color: #FFFFFF;
    border-radius: 10px;





}


.inputveld {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 15px auto;



}


