



/* Product overview*/
main {
    display: flex;
    flex-direction: row; /* Change the flex direction to "row" */
    justify-content: center;
    margin: auto  ;
}

.product {
    border: 1px solid #ddd;
    border-radius: 3%;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 250px;
}

.product img {
    max-width: 100%;
}

.price {
    font-weight: bold;
    color: #f60;
}

.product button {
    padding: 10px;
    border-radius: 10%;
    background: #FF0000;
    cursor: pointer;
}
.product button:hover {
    opacity: 60%;
}


.pricecontainer {
    padding-top: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}




